body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/pexels-alexey-demidov-9560069.jpg') no-repeat right center fixed;
    background-size: cover;
}

h5 {
    text-align: center; 
    font-family: "Arial", sans-serif; 
    font-size: 14px; 
    color: #151414; 
    margin: 0; 
    padding: 10px 0; 
    margin: 20px;
    padding: 30px;
    background: #7c97b088;
    border-radius: 50px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: flex-start;  
    padding: 20px;  
}

.tip {
    width: 60%; 
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: rgba(83, 89, 93, 0.372);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    display: flex;
    align-items: center;
}

.tip:hover {
    background: linear-gradient(135deg, #0a1b4b6e, #8ab5d667);
    color: rgb(255, 255, 255);
}

.tip.left {
   margin-right: auto;
}

.tip.right {
    margin-left: auto;
}

.tip img {
    margin-right: 10px; 
    max-height: 100px;
}