body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/sm1.jpg') no-repeat right center fixed;
    background-size: cover;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}
    

ul {
    list-style-type: none;
    padding: 0px;
}

.tip {
    max-height: 200px; /* Set a maximum height for each tip */
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 15px;
    width: calc(30% - 20px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background: #5d535335;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.tip p {
    font-size: 16px;
    color: #333;
}

.tip:hover {
    background: linear-gradient(135deg, #d69a9a90, #8bb68d8c);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}

h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    
}

h5 {
    text-align: center; /* Center align text */
    font-family: "Arial", sans-serif; /* Choose a professional font-family */
    font-size: 14px; /* Adjust the font size as needed */
    color: #151414; /* Set text color to a professional color */
    margin: 0; /* Remove any default margin */
    padding: 10px 0; /* Add padding for spacing */
    margin: 20px;
    padding: 30px;
    background: #ce746f4e;
    border-radius: 50px;
}

