body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/pexels-lukas-1410140\ -\ Copy.jpg') no-repeat right center fixed;
    background-size: cover;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.left-tips {
    width: 88%;
    align-items: flex-end;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.tip {
    margin: 30px;
    padding: 30px;
    background: #5d535335;
    border-radius: 50px;
    transition: background 0.3s;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tip:hover {
    background: linear-gradient(135deg, #5f8d5e90, rgba(207, 211, 178, 0.773));
    color: rgb(32, 86, 32);
}

h2 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h5 {
    text-align: center; /* Center align text */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choose a professional font-family */
    font-size: 14px; /* Adjust the font size as needed */
    color: black; /* Set text color to a professional color */
    margin: 0; /* Remove any default margin */
    padding: 10px 0; /* Add padding for spacing */
    margin: 20px;
    padding: 30px;
    background: #051a0b77;
    border-radius: 50px;
}

